<%- include ('../dashboard_partials/header') %>

<div class="p-10">
    <div class="card h-full bg-base-100 shadow-xl">
        <div class="card-body">
          <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
              <tr>
                <th data-priority="1">No.</th>
                <th data-priority="2">Name</th>
                <th data-priority="3">Email</th>
                <th data-priority="4">Role</th>
                <th data-priority="5">Active</th>
                <th data-priority="6">Action</th>
              </tr>
            </thead>
            <tbody>
              <%for(let i = 0; i<user.length; i++){%>
              <tr class="text-center">
                <td><%= i+1%></td>
                <td><%= user[i].name%></td>
                <td><%= user[i].email%></td>
                <td><%= user[i].role%></td>
                <td>
                  <%if(user[i].active == 1){%>
                    Active
                  <%}else{%>
                    Not Active
                  <%}%>
                </td>
                <td>
                  <button class="btn-error btn">Delete</button>
                </td>
              </tr>
              <%}%>
    
            </tbody>
    
          </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
  $(document).ready(function() {

    var table = $('#example').DataTable({
        responsive: true
      })
      .columns.adjust()
      .responsive.recalc();
  });
</script>

<%- include ('../dashboard_partials/footer') %>