<%- include ('./partials/header') %>
<div class="lg:ml-16 lg:mr-16">
  <%- include ('./partials/message.ejs')%>
</div>


<div class="swiper mySwiper w-11/12">
    <div class="swiper-wrapper">
      <%for(let a = 0; a<slide.length; a++){%>
      <div class="swiper-slide">
        <img src="/uploads/<%=slide[a].thumbnail%>" alt="" class="w-full slide">
      </div>
      <%}%>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

<div class="mt-8 lg:ml-16 lg:mr-16">
    <div class="flex justify-between">
        <div class="w-9/12">
            <%for(let i = 0; i<artikel.length; i++){%>
                  <form action="/view/<%=artikel[i]._id%>?_method=PUT" method="post">
                    <div>
                      <div class="card lg:card-side bg-base-100 shadow-xl h-56 mb-4">
                          <figure><img src="/uploads/<%=artikel[i].thumbnail%>" class="img_landing" alt="Album"></figure>
                          <div class="card-body">
                            <h2 class="card-title"><%=artikel[i].judul%></h2>
                            <div class="badge badge-accent text-white"><%=artikel[i].category?.name%></div>
                            <h1><%= moment(artikel[i].createdAt).fromNow()%> - <%=artikel[i].user?.name%></h1>
                            <h1><%- artikel[i].body%></h1>
                            <div class="flex justify-end mr-3">
                              <button type="submit" class="btn btn-primary">See Article</button>
                            </div>
                          </div>
                      </div>
                    </div>
                </form>
            <%}%>
            
            <div>
              <%if(query == 5){%>
              <form action="/" method="get">
                <input type="hidden" name="berapa" value="0">
                <button class="btn btn-primary mb-3" type="submit">show all</button>
              </form>
              <%}%>

              <%if(query == 0){%>
                <form action="/" method="get">
                  <button class="btn btn-primary mb-3" type="submit">show less</button>
                </form>
              <%}%>
              
            </div>  
        </div>

        <div class="sticky top-0 h-full bottom-3">
            <div class="">
                <%for(let i = 0; i<sticky.length; i++){%>
                <form action="/view/<%=sticky[i]._id%>?_method=PUT" method="post">
                  <button type="submit">
                    <div class="card w-72 bg-base-100 shadow-xl mb-4">
                        <figure><img src="/uploads/<%=sticky[i].thumbnail%>" alt="Shoes" class="sticky_image" /></figure>
                        <div class="card-body">
                          <h2 class="card-title">
                            <%=sticky[i].judul%>
                          </h2>
                          <h1 class="text-left"><%- sticky[i].body%></h1>
                          <div class="card-actions justify-end">
                            <div class="badge badge-outline"><%=sticky[i].category?.name%></div> 
                          </div>
                        </div>
                    </div>
                  </button>
                </form>
                <%}%>
            </div>
        </div>
    </div>
</div>





<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        loop:true,
      cssMode: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
      autoplay:{
        delay:4000
      }
    });
</script>
<%- include ('./partials/footer') %>

  